@charset "utf8";
html{
    font-size: 62.5%;
}
body,ul,li,h1,p,h2,input,figure,img,fieldset,h1,table,tr,td{
    margin:0;
    padding:0;
    border:none;
    list-style: none;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    /*做项目时要清除浏览器默认样式，比如input默认是有边框的，会影响布局*/
}
body{
    background: #f2f2f2;
    height:auto;
    overflow: hidden;
}
a{
    text-decoration: none;
}
#header{
    width: 100%;
    height: 121px;
    background: #ddd;
    position: fixed;
    top:0;
    z-index: 3;
    opacity: 0.8;
    overflow:hidden;
}
#header img{
    display: inline-block;
    float: left;
    border-radius: 60px;
    border: 1px solid #ccc;
    transition:box-shadow 1s;
    -webkit-transition:box-shadow 1s;
}
#header img:hover{
    box-shadow: 0 0 10px blue;
}
#header_p{
    display: inline-block;
    position: absolute;
    top:30px;
    left:150px;
    font-size: 20px;
    color: black;
}
#header_p hr{
    width:100px;
    height: 0;
    border-bottom: 1px solid #bbb;
}
#header_p1:hover,#header_p2:hover{
    cursor: pointer;
}
nav ul{
    position: absolute;
    right: 60px;
}
nav ul em{
    display: block;
    position: relative;
    height:0;
    width:0;
    left:50px;
    background:red;
}
nav ul li{
    float: left;
    font-size: 20px;
    margin: 0 10px;
    text-align: center;
    line-height: 120px;
    width: 100px;
    height: 120px;
}
nav ul li:first-child{
    transition:transform 1s;
    -webkit-transition:transform 1s;
    -ms-transition:transform 1s;
}
nav ul li:first-child:hover{
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
}
.asidebar{
    position: fixed;
    right:1%;
    top:45%;
}
.asidebar ul li{
    font-size: 30px;
    cursor: pointer;
    margin: 10px 0;
}
.asidebar ul li a{
    display: block;
}
.asidebar .red{
    color: red;
}

/*时钟*/
 .view_hour{position: absolute;left: 280px;width: 160px;height: 160px;top:-20px;}
 .view_minute{position: absolute;left: 480px;width: 160px;height: 160px;top:-20px;}
 .view_second{position: absolute;left: 680px;width: 160px;height: 160px;top:-20px;}
 .bg{position:absolute;width: 80px;height: 80px;border-radius: 60px;border:20px solid orange;z-index: 2;top:20px;left: 20px;}
 .view_hour .bg{border:20px solid #2271CD;}
 .view_minute .bg{border:20px solid #DB5C1C;}
 .view_right{position: absolute;width: 80px;height: 160px;background:#ddd;left: 80px;z-index: 3;transform-origin:left;}
 .view_left{position: absolute;width: 80px;height: 160px;overflow: hidden;z-index: 3;}
 .left_front{position: absolute;width: 80px;height: 160px;background:#ddd;z-index: 3;transform-origin:right;}
 .hour,.minute,.second{position: absolute;z-index: 6;height: 60px;width: 60px;line-height: 60px;text-align: center;top:50px;left:50px;font-size: 25px;font-weight: bold;}
 .hour{color: orange}
 .minute{color:#2271cd }
 .second{color: red}

.home{
    width: 1000px;
    height:100%;
    position: relative;
    margin: 0 auto;
}
.home img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    left: 40%;
    top:160px;
    cursor: pointer;
}
.word{
    position: absolute;
    width: 500px;
    top:400px;
    left:250px;
    font-size: 25px;
    text-shadow:5px 5px 2px red;
    color: black;
    animation:mysecond 4s linear;
    -webkit-animation:mysecond 4s linear;
}
@keyframes mysecond{
    0%{left:50px;}
    50%{left:450px;}
    100%{left:250px;}
}
@-webkit-keyframes mysecond{
    0%{left:50px;}
    50%{left:450px;}
    100%{left:250px;}
}
.info{
    position: absolute;
    width: 500px;
    top:470px;
    left:250px;
    font-size: 20px;
}
.info p{
    margin: 15px 0;
    color: black;
}

/*3D文字*/
       .view_rotate{
        position: relative;
        width: 100px;
        height: 80px;
        /*top:300px;
        left:400px;*/
        left: 10%;
        top:260px;
        perspective:1000px;
       }
       .contain_rotate{
        position: absolute;
        transform-style:preserve-3d;
       }
       .section_rotate{
        position: absolute;
        width: 100px;
        height: 60px;
       }
       .section_rotate span{
        display: inline-block;
        width: 100px;
        height: 30px;
        font-weight: bold;
        /*background: #999;*/
        border-radius: 5px;
        opacity: 0.7;
        cursor: pointer;
        color:green;
        line-height: 30px;
        font-size: 20px;
        text-align: center;
        position: relative;
        top:15px;
       }
       .section_rotate:nth-child(1){
        transform:rotateX(0deg) translateZ(82px);
       }
       .section_rotate:nth-child(2){
        transform:rotateX(40deg) translateZ(82px);
       }
       .section_rotate:nth-child(3){
        transform:rotateX(80deg) translateZ(82px);
       }
       .section_rotate:nth-child(4){
        transform:rotateX(120deg) translateZ(82px);
       }
       .section_rotate:nth-child(5){
        transform:rotateX(160deg) translateZ(82px);
       }
       .section_rotate:nth-child(6){
        transform:rotateX(200deg) translateZ(82px);
       }
       .section_rotate:nth-child(7){
        transform:rotateX(240deg) translateZ(82px);
       }
       .section_rotate:nth-child(8){
        transform:rotateX(280deg) translateZ(82px);
       }
       .section_rotate:nth-child(9){
        transform:rotateX(320deg) translateZ(82px);
       }
       .section_rotate span.select{
        color:#66ffff;
        opacity: 1;
       }

.about{
    margin: 0 auto;
    height:100%;
    width: 1000px;
    position: relative;
}
@keyframes myfirst{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@-webkit-keyframes myfirst{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.title{
    position:absolute;
    top:150px;
    width:200px;
    left: 400px;
    color: black;
    
}
.title h1{
    text-align: center;
    font-size: 25px;
    animation:myfirst 5s;
    -webkit-animation:myfirst 5s;
    transition:transform 1s;
    -webkit-transition:transform 1s;
}
.title h1:hover{
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    cursor: pointer;
}
.title span{
    font-size: 20px;
    color: red;
    position: relative;
    bottom: 30px;
}
.title hr{
    height:0;
    border: 1px solid red;
}
.about_info{
    position:relative;
    top:280px;
    width: 250px;
    float: left;
    color: black;
}
.about_info .age{
    font-size: 25px;
    position: relative;
    top:10px;
    right:30px;
}
.about_info hr{
    width: 80px;
    height: 0;
    border: 1px solid #999;
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);    
}
.about_info  .age_num{
    font-size: 20px;
    position: relative;
    left:30px;
    bottom: 10px;
}
.about p{
    position:relative;
    top:320px;
    left:20px;
    font-size: 20px;
    margin: 30px 0;
    text-align: center;
    color: black;
}
.skill{
    margin: 0 auto;
    height:100%;
    width: 1000px;
    position: relative;    
}
.skill p{
    width:800px;
    text-align:left;
    position:relative;
    left: 100px;
    top:280px;
    text-indent: 20px;
    line-height: 40px;
    font-size: 20px;
    font-weight:200;
}
.skill figure{
    display: inline-block;
    position: relative;
    top:280px;
    margin:0 100px;
    text-align: center;
    color: black;
    height: 160px;
}
.skill figure:hover{
    background: #999;
}
.skill figure img{
    padding:10px 0 0 10px;
}
.skill figure span{
    font-size: 12px;
    position: relative;
    bottom: 35px;
}
.skill figcaption{
    font-size: 20px;
}
.skill .htmlinfo,.skill .cssinfo,.skill .jsinfo{
    position:absolute;
    background: #5686D6;
    width: 300px;
    padding: 20px 0 20px 60px;
    border-radius: 20px;
}
.skill ul li{
    list-style:disc;
    text-align: left;
    font-size:16px; 
}
.skill .htmlinfo{
    top:630px;
}
.skill .cssinfo{
    top:630px;
    left:320px;
}
.skill .jsinfo{
    top:630px;
    left: 650px;
}
.work{
    margin: 0 auto;
    height:100%;
    width: 1000px;
    position: relative;
}
.work .left,.work .right{
    position:absolute;
    z-index: 9999;
    opacity: 0.2;
    top:130px;
    filter:alpha(opacity=20);
    transition:opacity 1s;
    -webkit-transition:opacity 1s;
}
.work .left{
    right: 620px;
}
.work .right{
    left: 620px;
}
.work .left:hover,.work .right:hover{
    opacity:1;
    filter:alpha(opacity=20);
}
.work .lunbo{
    position:absolute;
    width: 700px;
    height: 300px;
    top:300px;
    left:200px;
    overflow: hidden;
    color: black;
}
.work .view{
    height: 300px;
    width: 2100px;
    background: red;
    position:relative;
}
.work .carousel{
    width: 700px;
    height:300px;
    border-radius: 20px;
    display: inline-block;
    float: left;
}
.work .carousel.one{
    background:-webkit-linear-gradient(left top,#f0f2ff,#fcdcdc,#e0ffff);
    background:-moz-linear-gradient(bottom right,#f0f2ff,#fcdcdc,#e0ffff);
    background:linear-gradient(to bottom right,#f0f2ff,#fcdcdc,#e0ffff);
}
.work .carousel.two{
    background:-webkit-linear-gradient(#ffe4c4,#dcdcdc,#f0fff0);
    background:-moz-linear-gradient(#ffe4c4,#dcdcdc,#f0fff0);
    background:linear-gradient(#ffe4c4,#dcdcdc,#f0fff0);
}
.work .carousel.three{
    background:-webkit-linear-gradient(left top,#fff0f5,#fafad2,#ffffe0);
    background:-moz-linear-gradient(bottom right,#fff0f5,#fafad2,#ffffe0);
    background:linear-gradient(to bottom right,#fff0f5,#faf8d2,#fff2e0);
}
.work .carousel dl{
    text-indent: 50px;
    font-size: 20px;
    list-style:circle;
}
.work .carousel dl p{
    font-size: 12px;
    padding: 10px 0 10px 0;
}
.work .carousel dl dt{
    color:#b21212;
    text-indent: 20px;
    padding: 10px 0 0 0 ;
}
.work .carousel dl dd{
    padding: 5px 0;
    text-align: left;
}
.contact{
    margin: 0 auto;
    height:100%;
    width: 1000px;
    position: relative;
    color: black;
}
.contact .title{
    top:250px;
}
.contact p{
    position: relative;
    top:380px;
    font-size: 30px;
    text-align: center;
    margin: 10px 0;
}
.contact p span{
    color: red;
}
.contact p b{
    color: blue;
    font-weight: 100;
}
.contact p em{
    font-style: normal;
    color: green;
}
#fontcolor{
    text-indent: 50px;
    padding: 80px 0 0 0;
    font-weight: 100;
}
.footer{
    height: 200px;
    width: 100%;
    border-top: 1px solid #bbb;
}
.footer p{
    text-align: center;
    font-size: 14px;
    height: 33px;
    line-height: 33px;
    color: #999;
}
.footer p a{
    color: #999;
}
.footer b{
    color: blue;
    font-weight: 100;
}
.display{
    display: none;
}

